# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Database files
*.db
*.sqlite3

# System files
.DS_Store
Thumbs.db

# PDFs, temporary docs
*.pdf

# Python environment metadata
*.egg-info/
.eggs/

# VS Code / IDE settings
.vscode/
.idea/

# PyTorch cache
~/.torch/

# Hugging Face transformers cache
~/.cache/huggingface/
